version: "3"

services:
  # Stolen from https://github.com/pi-hole/docker-pi-hole
  pihole:
    env_file: .env
    hostname: pi.hole
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "${PH_HTTP_HOST_PORT}:80/tcp"
      - "${PH_DNS_HOST_PORT}:53/tcp"
      - "${PH_DNS_HOST_PORT}:53/udp"
    environment:
      VIRTUAL_HOST: "${HOST_IP}:${PH_HTTP_HOST_PORT}"
      ServerIP: ${HOST_IP}
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    extra_hosts:
      - "${DOMAIN_LOCAL}:${HOST_IP}"
    dns:
      - 127.0.0.1
      - 1.1.1.1
    restart: unless-stopped


  murmur:
    env_file: .env
    hostname: murmur
    container_name: mumble-server
    image: zalkeen/murmur:armhf
    ports:
        - "${MR_SERVER_PORT}:64738/tcp"
        - "${MR_SERVER_PORT}:64738/udp"
    volumes:
        - "${MR_SERVER_DATA}:/data"
        - "${MR_SERVER_CONF}:/etc/murmur.ini"
    extra_hosts:
      - "${DOMAIN_LOCAL}:${HOST_IP}"
    restart: unless-stopped

  mastobot:
    env_file: .env
    container_name: mastobot
    # dockerfile from github.com/mrkz/dockerfiles
    build: ../dockerfiles/mas2tter
    volumes:
    # the config.example.json can be taken from
    # github.com/bitkeks/mastodon-to-twitter
        - "${MSTDN_CNF}:/usr/src/app/config.json"
    restart: unless-stopped

  nextcloud_db:
      env_file: .env
      hostname: nextcloud_db
      container_name: nextcloud_db
      image: yobasystems/alpine-mariadb
      restart: always
      command: --transaction-isolation=READ-COMMITTED --log-bin=nextcloud_db-bin --binlog-format=ROW
      volumes:
          - "${NC_DB_PATH}:/var/lib/mysql"

  nextcloud:
      env_file: .env
      hostname: "${DOMAIN_HOME}"
      container_name: nextcloud
      image: nextcloud:24
      restart: unless-stopped
      ports:
          - "${NC_HTTP_PORT}:80"
      links:
          - nextcloud_db
      volumes:
          - "${NC_DATA_DIR}:/var/www/html"
      depends_on:
          - nextcloud_db
